@import '../../../bootstrap/scss/bootstrap.scss';
@import '../../variables.scss';

$iconSize: 2rem;

.ct_catalogue {
   @extend .container-fluid;
   padding: 0.5rem 0;
   background-color: $primaryColor;

   .wrapper {
      @extend .container;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
   }
}

.ct_product {
   margin: 0.2rem;
   padding: 0.5rem;
   max-width: 540px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   background-color: white;
   color: $primaryColor;
   border-radius: 10px;
   text-decoration: none;
   cursor: pointer;

   .icon {
      flex-grow: 0;
      height: $iconSize;
      width: $iconSize;
      background-size: cover;
   }

   .text {
      flex-grow: 1;
      margin: 0 1rem;
      text-align: left;
   }
}