@import '../../../bootstrap/scss/bootstrap.scss';
@import '../../variables.scss';

$logoSize: 2rem;

.ct_catalogue {
   padding: 0.5rem 0;
   background-color: $primaryColor;

   .wrapper {
      @extend .container;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
   }
}

.ct_product {
   margin: 0.25rem;
   padding: 0.5rem;
   max-width: 540px;
   flex-grow: 1;
   display: flex;
   flex-direction: row;
   align-items: center;
   background-color: white;
   color: $primaryColor;
   border-radius: 10px;
   text-decoration: none;
   cursor: pointer;

   .icon {
      height: $logoSize;
      width: $logoSize;
      flex-grow: 0;
      background-size: cover;
   }

   .text {
      flex-grow: 1;
      margin-left: 1rem;
   }
}