
.pw__phoneWidget {
   padding: 1.25rem;
   background-color: #febb02;
   border-radius: 50%;
   position: fixed;
   bottom: 0.75rem;
   right: 0.75rem;
   display: flex;
   justify-content: center;
   align-items: center;

    .icon {
      height: 1.25rem;
      width: 1.25rem;
      background-size: cover;
   }
}