@import '../../../bootstrap/scss/bootstrap.scss';
@import '../../variables.scss';

.pr__Product {
   @extend .container;
   padding: 0.25rem;

   .service__heading {
      width: 100%;
   }

   .service__content {
      width: 100%;

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

      .form {
         flex-basis: 540px;
         flex-grow: 1;
      }

      .info {
         flex-basis: 320px;
         flex-grow: 1;
      }
   }

   .widget {
      width: 100% !important;
      padding: 0.25rem;
   }
}

.pr__ServiceBox {
   width: 100%;
   @extend .rounded;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   padding: 1rem;
   background-color: white;
   color: $primaryColor;

   $iconSize: 6rem;

   img {
      @include rfs($iconSize, height);
      @include rfs($iconSize, width);
   }

   .title {
      @include font-size(2rem);
      margin: 0 1rem;
   }
}