@import '../../../bootstrap/scss/bootstrap.scss';
@import '../../variables.scss';

$logoSize: 2rem;

.nb__navbar {
   @extend .navbar, .navbar-expand-lg, .container-fluid, .user-select-none;
   background-color: white;//darken($primaryColor, 5%);
   color: $primaryColor !important;

   .brand__link {
      @extend .navbar-brand, .p-0;
   }

   .toggler {
      @extend .navbar-toggler;

      span {
         @extend .navbar-toggler-icon;
      }
   }

   .collapse {
      @extend .collapse, .navbar-collapse;
      
      .nav {
         @extend .navbar-nav, .ms-auto;

         .link {
            @extend .nav-link, .mx-2;
            color: $primaryColor !important;
         }
      }
   }
}

.nb__brand {
   @extend .d-flex, .flex-row, .align-items-center;
   
   .text {
      //@include font-size(1.5rem);
      font-family: "Bauhaus";
      letter-spacing: 2px;
      font-size: 1.75rem;
      color: #0C3E95;
   }
   
   .icon {
      width: $logoSize;
      height: $logoSize;
      background-size: cover;
      margin: 0 .25rem;
   }
}