@import '../../../bootstrap/scss/bootstrap.scss';
@import '../../variables.scss';

.ft__features {
   @extend .container, .px-4, .py-5;

   .heading {
      @extend .h2, .pb-2;
      border-bottom: 1px solid darken($backgroundColor, 20%);
   }

   .features {
      @extend .row, .g-4, .py-5, .row-cols-1, .row-cols-lg-3;
   }
}

.ft__feature {
   @extend .col, .d-flex, .align-items-start;

   .icon__wrapper {
      @extend .bg-light, .text-dark, .flex-shrink-0, .me-3;

      .icon {
         width: 2rem;
         height: 2rem;
         background-color: $backgroundColor;
         background-size: cover;
      }
   }
}