@import '../../../bootstrap/scss/bootstrap.scss';
@import '../../variables.scss';

.cm__heading {
   background-color: $primaryColor;
   color: white;
   margin: 0 !important;
   padding: 1rem 0;
   text-transform: uppercase;

   .wrapper {
      @extend .container, .display-6;
      @include font-size(1.75rem);
      text-align: center;
      color: white;
   }
}