@import '../../../bootstrap/scss/bootstrap.scss';
@import '../../variables.scss';

.cm_heading {
   @extend .container, .display-6;

   text-align: center;
   background-color: $primaryColor;
   color: white;
   margin: 0 !important;
   padding: 1rem 0;
}